[submodule "Satoshi/vendor/spdlog"]
	path = Satoshi/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Satoshi/vendor/glad"]
	path = Satoshi/vendor/glad
	url = https://github.com/bmarques1995/glad.git
[submodule "Satoshi/vendor/imgui/imgui"]
	path = Satoshi/vendor/imgui/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "Satoshi/vendor/eigen3"]
	path = Satoshi/vendor/eigen3
	url = https://gitlab.com/libeigen/eigen.git
